Package: com.yourname.simplecowbell
Name: SimpleCowbell
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: An awesome Control Center tweak!
Maintainer: YourName
Author: YourName
Section: Tweaks
